<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top container-fluid">

  <a class="navbar-brand" href="#">
    <!--<span class="glyphicon glyphicon-star"></span>-->
    Angular Notes
  </a>
  <span class="glyphicon glyphicon-asterisk"></span>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNavAltMarkup">
   <div class="navbar-nav">
     <a class="nav-item nav-link active" routerLink="/">Home <span class="sr-only">(current)</span></a>
     <a class="nav-item nav-link" routerLink="/contacto">Contact</a>
   </div>
 </div>

</nav>
<router-outlet></router-outlet>
